nav{
    display: flex;
    justify-content: space-between;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    background-color: rgb(34, 34, 34);
    color: azure;
}
h2{
    margin-left: 20px;
}
ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 400px;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
}

.active{
    background-color: rgb(215, 215, 251);
}